/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'assets/styles/vendors/custombox.min.css';
@import 'assets/styles/vendors/dropzone.css';
@import 'assets/styles/site.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
  list-style: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.tab-pane {
  width: 100%;
}

.tabs__panel {
    background-color: transparent!important;
    width: 100%!important;
    box-shadow: none!important;
    border-radius: none!important;
    padding: 0px!important;
    padding-bottom: 25px!important;
    }
.tabs__tab-bar {
  margin-bottom: 0!important;
}

.dropzone {
  border: none!important;
  min-height: 600px!important;
  padding-top: 100px;
}

.dropzone-message {
  position: fixed;
}


